.DS_Store
.vscode/
App.xcworkspace/xcuserdata/
Application/Template/Template.xcodeproj/xcuserdata/
App.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcuserstate
build/
DerivedData/
.swiftpm/
App.xcworkspace/xcshareddata/swiftpm/
Application/Template/Package.resolved
